# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rfid_marathon
DB_USER=postgres
DB_PASSWORD=postgres

# Server Ports
START_LINE_PORT=8000
END_LINE_PORT=8002
REGISTRATION_PORT=8003
START_PROXY_PORT=9090
END_PROXY_PORT=9090
