# Mid-line UDP Listener and Sender Configuration

# UDP Listener (udp_listener.py)
PROXY_URL=http://192.168.1.10:9090/reader
SENDER_HOST=0.0.0.0
SENDER_PORT=6001


# UDP Sender (udp_sender.py)
END_HOST=192.168.1.10
END_PORT=6000
BUFFER_SIZE=8192