DB_HOST=localhost
DB_PORT=5432
DB_NAME=rfid_db
DB_USER=rfid
DB_PASSWORD=change_me
DB_ADMIN_USER=postgres
DB_ADMIN_PASSWORD=postgres
DB_LOCAL_DATA_DIR=database-setup\pgdata
DB_LOCAL_BIN_DIR=database-setup\postgres\bin
DB_SOURCE_BIN_DIR=C:\\Program Files\\PostgreSQL\\18\\
